@tailwind base;
@tailwind components;
@tailwind utilities;

/* simple toast animation */
.toast-enter {
  opacity: 0;
  transform: translateY(8px);
}
.toast-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 150ms ease-in-out;
}

